<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= current_page.data.title %></title>
  <%= stylesheet_link_tag "application" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
</head>

<body>
  <%= partial "layouts/shared/topbar" %>
  <%= partial "layouts/shared/navbar" %>
  <%= yield %>
  <%= partial "layouts/shared/footer" %>
  <%= javascript_include_tag "bundle" %>
</body>

</html>
